<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <script src="/fullcalendar/dist/index.global.js" ></script>
</head>

<header>
    <%- include("partines/nav.ejs") %>
</header>

<body>

    <div class="card">
        <div class="card-header">
            <h1>Calendario</h1>
        </div>

        <div class="card-body">
            <div id="calendar"></div>
        </div>

    </div>

</body>

<script>

    var element = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(element, {
        initialView: "timeGridWeek",
        locale: 'pt-br',
        events: "getCalendar",
        eventClick: (infos) => {
            window.location.href = "/event/" + infos.event.id
        }
    })

    calendar.render()

</script>

</html>

<%- include("partines/footer.ejs"); %>
